@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-width: 320px;
  background: #f3f8fa;
  color: #000;
  font-family: 'Work Sans', sans-serif;
}

#root {
  width: 100%;
}


p {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #404040;
  margin-bottom: 30px;
}

h1{
  margin: 30px 0 30px 0;
  font-size: 52px;
  font-weight: 800;
  line-height: 1;
  color: #111;
  text-align: left;
}

h2{
  margin-bottom:30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #222;
}

h3{
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  color: #333;
}

h4 {
  font-size: 30px;
  font-weight: 500;
  color: #404040;
}

a {
  color: #006fb2;
}

li{
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #404040;
    margin-bottom: 10px;
}

.page-canvas {
  width: 100%;
  overflow-x: auto;
  background: #f3f8fa;
}

.pageNav {
  display:flex;
  justify-content:space-between;
  width: 100%;
  margin: 0 auto;
}

.page-bottom-nav {
  /* position: absolute;
  top: 5298px; */
  height: 56px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #006fb2;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}

.page-bottom-nav img {
  width: 38px;
  height: 38px;
}

.img-right{
  display:flex;
  align-items:right;
}

.image-wrapper{
  display:flex;
  margin: 0 auto;
  max-width: 450px;
  height: auto;
}

.image-wrapper img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.page-content{
  margin: 0 auto;
  padding: 0 30;
  background: #f3f8fa;
  font-family: 'Work Sans', sans-serif;
  max-width: 1120px;
}

.useful-link{
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}

.useful-header{
  color: #222;
  font-size: 28px;
  font-weight: 700;
}

.useful-text{
  margin-left: 10px;
}

.citation{
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}

.citation-num{
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #222;
  margin: 0;
}

.citation-header{
  color: #222;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.citation-text{
  margin-left: 20px;
}

.citation-text p{
  margin: 0;
}

.wia-nav-prev {
  /* left: 728px; */
}

.wia-nav-next {
  align-items: right;
  text-align: right;
}

.wia-nav {
  cursor: pointer;
  display: flex;
  color: #006fb2;
  max-width: 50%;
  width:fit-content;
}

.wia-nav img{
  max-width: 28px;
  max-height: 28px;
  fill:#006fb2;
}

.wia-nav span{
  font-size:24px;
  font-weight: 700;
  max-width: 100%;
  margin: 0 10px;
  white-space: nowrap;
}

.annotation {
  color:#006fb2;
  cursor: pointer;
  display:inline;
  border: 0;
  background-color: transparent;
  vertical-align: super;
}