news-article{
    border-bottom: 3px solid #0691cb;
    width: 100%;
    padding: 10px;
}

news-grid{
    display:flex;
}

news-thumb{
    width: 20%;
    border-radius: 30px;
    object-fit: cover;
}