@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');

.what-is-ai-page {
  width: 100%;
  overflow-x: auto;
  background: #f3f8fa;
}

.what-is-ai-canvas {
  position: relative;
  /* width: 1920px;
  height: 5438px; */
  margin: 0 auto;
  background: #f3f8fa;
  font-family: 'Work Sans', sans-serif;
  color: #404040;
}

.wia-top-banner {
  /* position: absolute;
  left: 625px;
  top: 86px; */
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 5px;
}

.wia-top-credit {
  /* position: absolute;
  left: 637px;
  top: 791px; */
  margin: 0;
  text-align: right;
  font-size: 20px;
  line-height: 1;
}


.wia-p {
  /* position: absolute; */
  width: 1120px;
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: #404040;
}

.wia-source {
  /* position: absolute;
  left: 637px;
  top: 1055px; */
  width: 1120px;
  margin: 0;
  text-align: right;
  font-size: 28px;
  line-height: 34px;
}

.wia-source span {
  color: #404040;
}

.wia-source a {
  color: #006fb2;
  text-decoration: none;
}


.wia-explainer-image {
  /* position: absolute;
  left: 760px;
  top: 3350px; */
  width: 873px;
  height: 775px;
  border-radius: 30px;
  object-fit: cover;
}

.wia-image-credit {
  /* position: absolute;
  left: 989px;
  top: 4154px; */
  margin: 0;
  text-align: center;
  font-size: 20px;
  line-height: 34px;
  font-style: italic;
  color: #000;
}

.wia-important-copy-2 a {
  color: #006fb2;
  text-decoration: underline;
}
